<div class = "flex flex-col">
    
    <p> This kitten is named <span class = "text-blue-400 font-bold text-xl"><%= @kitten.name%></span></p>
    <p> it's <%= @kitten.age%></p>
    <p> it's <%= @kitten.cuteness%> and <%= @kitten.softness%> </p>
    <%= button_to "Remove this kitten", kitten_path(@kitten), method: :delete, class: "text-red-500" %>
    
</div>
